<!DOCTYPE html>
<html lang="en">
    <head>
        <title>fede</title>
        {{#development}}
        <link href="css/index.css" type="text/css" media="all" rel="stylesheet" />
        {{/development}}
        {{#production}}
        <link href="css/index.min.css" type="text/css" media="all" rel="stylesheet" />
        {{/production}}
    </head>
    <body>
        <p>hello fede!</p>

        <script type="text/javascript" src="js/index/main.js"></script>
    </body>
</html>